## Coding Exercise #0205

### 1. Pandas DataFrame basics:

In [1]:
import pandas as pd
import numpy as np
import os

#### 1.1. Creating a new DataFrame:

From a dictionary:

In [2]:
data = { 'NAME' : ['Jake', 'Jennifer', 'Paul', 'Andrew'], 'AGE': [24,21,25,19], 'GENDER':['M','F','M','M']}
df = pd.DataFrame(data)
df

       NAME  AGE GENDER
0      Jake   24      M
1  Jennifer   21      F
2      Paul   25      M
3    Andrew   19      M

From a NumPy array:

In [6]:
df = pd.DataFrame(np.random.rand(10,5), columns=['A','B','C','D','E'])
df.head(3)    #default value for head is 5

          A         B         C         D         E
0  0.486903  0.667563  0.538877  0.443490  0.867307
1  0.723812  0.192588  0.975376  0.538595  0.926073
2  0.510483  0.087216  0.987254  0.823901  0.348127

#### 1.2. Reading data into a DataFrame:

In [10]:
!wget --no-clobber https://raw.githubusercontent.com/tahereh220/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.csv

--2022-02-10 23:50:53--  https://raw.githubusercontent.com/tahereh220/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 674 [text/plain]
Saving to: ‘data_studentlist.csv’

data_studentlist.cs 100%[===================>]     674  --.-KB/s    in 0s

2022-02-10 23:50:53 (30.2 MB/s) - ‘data_studentlist.csv’ saved [674/674]

In [12]:
df = pd.read_csv('data_studentlist.csv', header='infer')
print(df)

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

Check for some of the DataFrame attributes:

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.ndim

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
type(df)

Summarize the DataFrame:

In [ ]:
df.info()

In [ ]:
df.describe()

Show the head and tail parts:

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

Replacing the 'columns' (header):

In [ ]:
header = df.columns
header

In [ ]:
df.columns = ['NAME', 'GENDER' , 'AGE', 'GRADE', 'ABSENCE', 'BLOODTYPE', 'HEIGHT', 'WEIGHT']
df.head(3)

#### 1.3. Indexing and slicing DataFrames:

In [ ]:
# A column.
df.NAME

In [ ]:
# This is in fact a Series:
type(df.NAME)

In [ ]:
# This is also a Series:
df['NAME']

In [ ]:
# However, this is a DataFrame with one column, not a Series:
df[['NAME']]

In [ ]:
# Another way of getting a columns as Series:
df.loc[:,'NAME']

In [ ]:
df.loc[:,['NAME','GENDER']]

In [ ]:
df.iloc[:,[0,1]]

In [ ]:
df.loc[:,(header =='NAME') | (header == 'GENDER')]

In [ ]:
# This is a row.
df.loc[2]

In [ ]:
df.loc[2:4]

In [ ]:
df.iloc[2:4]

In [ ]:
df.drop(columns=['NAME','GENDER'])                  # This is just a view.
#df.drop(columns=['NAME','GENDER'],inplace=True)    # => To remove permanently.

In [ ]:
df.loc[:, (header!='NAME') & (header!='GENDER')]

Conditional slicing:

In [ ]:
# Males only.
df[df.GENDER == 'M']

In [ ]:
# Only non-males.
df[-(df.GENDER == 'M')]

In [ ]:
df[df.GENDER == 'F']

In [ ]:
df[df.HEIGHT > 170]

In [ ]:
df[ (df.WEIGHT > 70) & (df.WEIGHT < 80)]

In [ ]:
df[ (df.GENDER == 'M') & (df.HEIGHT > 175)]

In [ ]:
# Opposite criteria to the previous one.
df[ -((df.GENDER == 'M') & (df.HEIGHT > 175))]

#### 1.4. File reading and writing:

Read and write in the CSV format:

In [ ]:
df2 = df.drop(columns=['GRADE','ABSENCE'])
df2.to_csv('data_mine.csv',index=False)

In [ ]:
df3 = pd.read_csv('data_mine.csv',encoding='latin1',header='infer')

In [ ]:
df3.head(3)

Read and write as a Excel document:

In [ ]:
!wget --no-clobber https://github.com/stefannae/SIC-Artificial-Intelligence/blob/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.xlsx

In [ ]:
dfx = pd.read_excel('data_studentlist.xlsx')

In [ ]:
dfx.head(5)

In [ ]:
dfx.to_excel('data_studentlist2.xlsx',sheet_name='NewSheet', index=False)