## Coding Exercise #0205

### 1. Pandas DataFrame basics:

In [47]:
# update locally
# pip install pandas --upgrade
# pip install openpyxl --upgrade
import pandas as pd
import numpy as np
import os

#### 1.1. Creating a new DataFrame:

From a dictionary:

In [5]:
data = { 'NAME' : ['Jake', 'Jennifer', 'Paul', 'Andrew'], 'AGE': [24,21,25,19], 'GENDER':['M','F','M','M']}
df = pd.DataFrame(data)
df

       NAME  AGE GENDER
0      Jake   24      M
1  Jennifer   21      F
2      Paul   25      M
3    Andrew   19      M

From a NumPy array:

In [6]:
df = pd.DataFrame(np.random.rand(10,5), columns=['A','B','C','D','E'])
df.head(3)  #default value is 5

          A         B         C         D         E
0  0.207800  0.857336  0.248582  0.364689  0.347454
1  0.569463  0.598426  0.800258  0.345864  0.931878
2  0.289255  0.615333  0.250388  0.661663  0.405321

#### 1.2. Reading data into a DataFrame:

In [24]:
!wget --no-clobber https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.csv

File ‘data_studentlist.csv’ already there; not retrieving.

In [25]:
"""
header : int, list of int, None, default ‘infer’
         Row number(s) to use as the column names, and the start of the data.
         Default behavior is to infer the column names: 
         if no names are passed, the behavior is identical to header=0 and column names are inferred from the first line of the file, 
         if column names are passed explicitly then the behavior is identical to header=None.
"""
df = pd.read_csv('data_studentlist.csv', header='infer')
print(df)

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

In [15]:
df = pd.read_csv('data_studentlist.csv', header=0)  # header=0 denotes the first line of data rather than the first line of the file.
print(df)

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

In [16]:
df = pd.read_csv('data_studentlist.csv', header=13)  #from index of 13 
print(df)

       Eddy Johnson  M  21  1  N  A  162.2  55.3
0  Rebecah Anderson  F  23  3  N  O  176.1  53.1
1      Linda Carter  F  22  2  N  B  158.2  45.2
2    Richard Swayze  M  24  4  Y  B  168.6  70.2
3       Andrew King  M  21  1  N  A  169.2  62.2

In [17]:
df = pd.read_csv('data_studentlist.csv', header=None)  #
print(df)

                   0       1    2      3        4          5       6       7
0               name  gender  age  grade  absence  bloodtype  height  weight
1      Jared Diamond       M   23      3        Y          O   165.3    68.2
2     Sarah O'Donnel       F   22      2        N         AB   170.1      53
3       Brian Martin       M   24      4        N          B     175    80.1
4       David Hassel       M   23      3        N         AB   182.1    85.7
5    Clara Rodriquez       F   20      1        Y          A     168    49.5
6   Jennifer Lorentz       F   21      2        N          O     162      52
7        Susan Clark       F   22      1        N          O   155.2    45.3
8    Margareth Jones       F   23      1        N          A   176.9      55
9       John Bertsch       M   23      3        N          B   178.5    64.2
10    Jake Timmerman       M   22      2        N          B   176.1    61.3
11     Joshua Connor       M   24      4        Y          O   167.1      62
12      John Matsuda       M   22      2        N         AB     180    75.8
13      Eddy Johnson       M   21      1        N          A   162.2    55.3
14  Rebecah Anderson       F   23      3        N          O   176.1    53.1
15      Linda Carter       F   22      2        N          B   158.2    45.2
16    Richard Swayze       M   24      4        Y          B   168.6    70.2
17       Andrew King       M   21      1        N          A   169.2    62.2

In [18]:
df = pd.read_csv('data_studentlist.csv', header=[0, 2, 4]) 
print(df)

                name gender age grade absence bloodtype height weight
      Sarah O'Donnel      F  22     2       N        AB  170.1     53
        David Hassel      M  23     3       N        AB  182.1   85.7
0    Clara Rodriquez      F  20     1       Y         A  168.0   49.5
1   Jennifer Lorentz      F  21     2       N         O  162.0   52.0
2        Susan Clark      F  22     1       N         O  155.2   45.3
3    Margareth Jones      F  23     1       N         A  176.9   55.0
4       John Bertsch      M  23     3       N         B  178.5   64.2
5     Jake Timmerman      M  22     2       N         B  176.1   61.3
6      Joshua Connor      M  24     4       Y         O  167.1   62.0
7       John Matsuda      M  22     2       N        AB  180.0   75.8
8       Eddy Johnson      M  21     1       N         A  162.2   55.3
9   Rebecah Anderson      F  23     3       N         O  176.1   53.1
10      Linda Carter      F  22     2       N         B  158.2   45.2
11    Richard Swayze      M  24     4       Y         B  168.6   70.2
12       Andrew King      M  21     1       N         A  169.2   62.2

Check for some of the DataFrame attributes:

In [12]:
df.shape

(17, 8)

In [13]:
df.shape[0]

17

In [42]:
df.size

104

In [43]:
df.ndim

2

In [49]:
df.columns

Index(['name', 'gender', 'age', 'grade', 'absence', 'bloodtype', 'height',
       'weight'],
      dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=17, step=1)

In [31]:
df.index = pd.RangeIndex(start = 10, stop = df.shape[0] + 10)
print(df)

                NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
10     Jared Diamond      M   23      3       Y         O   165.3    68.2
11    Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
12      Brian Martin      M   24      4       N         B   175.0    80.1
13      David Hassel      M   23      3       N        AB   182.1    85.7
14   Clara Rodriquez      F   20      1       Y         A   168.0    49.5
15  Jennifer Lorentz      F   21      2       N         O   162.0    52.0
16       Susan Clark      F   22      1       N         O   155.2    45.3
17   Margareth Jones      F   23      1       N         A   176.9    55.0
18      John Bertsch      M   23      3       N         B   178.5    64.2
19    Jake Timmerman      M   22      2       N         B   176.1    61.3
20     Joshua Connor      M   24      4       Y         O   167.1    62.0
21      John Matsuda      M   22      2       N        AB   180.0    75.8
22      Eddy Johnson      M   21      1       N         A   162.2    55.3
23  Rebecah Anderson      F   23      3       N         O   176.1    53.1
24      Linda Carter      F   22      2       N         B   158.2    45.2
25    Richard Swayze      M   24      4       Y         B   168.6    70.2
26       Andrew King      M   21      1       N         A   169.2    62.2

In [15]:
type(df)

pandas.core.frame.DataFrame

Summarize the DataFrame:

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 1 to 17
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       17 non-null     object
 1   gender     17 non-null     object
 2   age        17 non-null     int64
 3   grade      17 non-null     int64
 4   absence    17 non-null     object
 5   bloodtype  17 non-null     object
 6   height     17 non-null     float64
 7   weight     17 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.2+ KB

In [17]:
df.describe()

             age      grade      height     weight
count  17.000000  17.000000   17.000000  17.000000
mean   22.352941   2.294118  170.035294  61.064706
std     1.169464   1.104802    7.849756  11.851685
min    20.000000   1.000000  155.200000  45.200000
25%    22.000000   1.000000  165.300000  53.000000
50%    22.000000   2.000000  169.200000  61.300000
75%    23.000000   3.000000  176.100000  68.200000
max    24.000000   4.000000  182.100000  85.700000

Show the head and tail parts:

In [18]:
df.head(3)

             name gender  age  grade absence bloodtype  height  weight
1   Jared Diamond      M   23      3       Y         O   165.3    68.2
2  Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
3    Brian Martin      M   24      4       N         B   175.0    80.1

In [19]:
df.tail(3)

              name gender  age  grade absence bloodtype  height  weight
15    Linda Carter      F   22      2       N         B   158.2    45.2
16  Richard Swayze      M   24      4       Y         B   168.6    70.2
17     Andrew King      M   21      1       N         A   169.2    62.2

Replacing the 'columns' (header):

In [59]:
header = df.columns
header

Index(['NAME', 'GENDER', 'AGE', 'GRADE', 'ABSENCE', 'BLOODTYPE', 'HEIGHT',
       'WEIGHT'],
      dtype='object')

In [26]:
df.columns = ['NAME', 'GENDER' , 'AGE', 'GRADE', 'ABSENCE', 'BLOODTYPE', 'HEIGHT', 'WEIGHT']
df.head(3)

             NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
0   Jared Diamond      M   23      3       Y         O   165.3    68.2
1  Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2    Brian Martin      M   24      4       N         B   175.0    80.1

#### 1.3. Indexing and slicing DataFrames:

In [22]:
# A column.
df.NAME

1        Jared Diamond
2       Sarah O'Donnel
3         Brian Martin
4         David Hassel
5      Clara Rodriquez
6     Jennifer Lorentz
7          Susan Clark
8      Margareth Jones
9         John Bertsch
10      Jake Timmerman
11       Joshua Connor
12        John Matsuda
13        Eddy Johnson
14    Rebecah Anderson
15        Linda Carter
16      Richard Swayze
17         Andrew King
Name: NAME, dtype: object

In [23]:
# This is in fact a Series:
type(df.NAME)

pandas.core.series.Series

In [32]:
# This is also a Series:
df['NAME']

10       Jared Diamond
11      Sarah O'Donnel
12        Brian Martin
13        David Hassel
14     Clara Rodriquez
15    Jennifer Lorentz
16         Susan Clark
17     Margareth Jones
18        John Bertsch
19      Jake Timmerman
20       Joshua Connor
21        John Matsuda
22        Eddy Johnson
23    Rebecah Anderson
24        Linda Carter
25      Richard Swayze
26         Andrew King
Name: NAME, dtype: object

In [33]:
# However, this is a DataFrame with one column, not a Series:
df[['NAME']]

                NAME
10     Jared Diamond
11    Sarah O'Donnel
12      Brian Martin
13      David Hassel
14   Clara Rodriquez
15  Jennifer Lorentz
16       Susan Clark
17   Margareth Jones
18      John Bertsch
19    Jake Timmerman
20     Joshua Connor
21      John Matsuda
22      Eddy Johnson
23  Rebecah Anderson
24      Linda Carter
25    Richard Swayze
26       Andrew King

In [35]:
# Another way of getting a columns as Series:
df.loc[:,'NAME']

10       Jared Diamond
11      Sarah O'Donnel
12        Brian Martin
13        David Hassel
14     Clara Rodriquez
15    Jennifer Lorentz
16         Susan Clark
17     Margareth Jones
18        John Bertsch
19      Jake Timmerman
20       Joshua Connor
21        John Matsuda
22        Eddy Johnson
23    Rebecah Anderson
24        Linda Carter
25      Richard Swayze
26         Andrew King
Name: NAME, dtype: object

In [39]:
df.loc[10,'NAME']

'Jared Diamond'

In [43]:
df.loc[[10,14],'NAME']

10      Jared Diamond
14    Clara Rodriquez
Name: NAME, dtype: object

In [44]:
df.loc[10:14,'NAME']

10      Jared Diamond
11     Sarah O'Donnel
12       Brian Martin
13       David Hassel
14    Clara Rodriquez
Name: NAME, dtype: object

In [46]:
df.loc[:,['NAME','GENDER']]

                NAME GENDER
10     Jared Diamond      M
11    Sarah O'Donnel      F
12      Brian Martin      M
13      David Hassel      M
14   Clara Rodriquez      F
15  Jennifer Lorentz      F
16       Susan Clark      F
17   Margareth Jones      F
18      John Bertsch      M
19    Jake Timmerman      M
20     Joshua Connor      M
21      John Matsuda      M
22      Eddy Johnson      M
23  Rebecah Anderson      F
24      Linda Carter      F
25    Richard Swayze      M
26       Andrew King      M

In [52]:
df.iloc[:,[0,1]]

                NAME GENDER
10     Jared Diamond      M
11    Sarah O'Donnel      F
12      Brian Martin      M
13      David Hassel      M
14   Clara Rodriquez      F
15  Jennifer Lorentz      F
16       Susan Clark      F
17   Margareth Jones      F
18      John Bertsch      M
19    Jake Timmerman      M
20     Joshua Connor      M
21      John Matsuda      M
22      Eddy Johnson      M
23  Rebecah Anderson      F
24      Linda Carter      F
25    Richard Swayze      M
26       Andrew King      M

In [56]:
print(type(df.iloc[:,[0]]))
print(type(df.iloc[:,0]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [65]:
header2 = df.columns
print(header2)
df.loc[:,(header2 =='NAME') | (header2 == 'GENDER')]

Index(['NAME', 'GENDER', 'AGE', 'GRADE', 'ABSENCE', 'BLOODTYPE', 'HEIGHT',
       'WEIGHT'],
      dtype='object')

                NAME GENDER
10     Jared Diamond      M
11    Sarah O'Donnel      F
12      Brian Martin      M
13      David Hassel      M
14   Clara Rodriquez      F
15  Jennifer Lorentz      F
16       Susan Clark      F
17   Margareth Jones      F
18      John Bertsch      M
19    Jake Timmerman      M
20     Joshua Connor      M
21      John Matsuda      M
22      Eddy Johnson      M
23  Rebecah Anderson      F
24      Linda Carter      F
25    Richard Swayze      M
26       Andrew King      M

In [76]:
print("df.loc[20] : \n", df.loc[20])  # This is a row.
print("\ndf.loc[:,'NAME'] :\n", df.loc[:,'NAME'])
print("\ndf['NAME'] :\n", df['NAME'])

df.loc[20] :
 NAME         Joshua Connor
GENDER                   M
AGE                     24
GRADE                    4
ABSENCE                  Y
BLOODTYPE                O
HEIGHT               167.1
WEIGHT                62.0
Name: 20, dtype: object

df.loc[:,'NAME'] :
 10       Jared Diamond
11      Sarah O'Donnel
12        Brian Martin
13        David Hassel
14     Clara Rodriquez
15    Jennifer Lorentz
16         Susan Clark
17     Margareth Jones
18        John Bertsch
19      Jake Timmerman
20       Joshua Connor
21        John Matsuda
22        Eddy Johnson
23    Rebecah Anderson
24        Linda Carter
25      Richard Swayze
26         Andrew King
Name: NAME, dtype: object

df['NAME'] :
 10       Jared Diamond
11      Sarah O'Donnel
12        Brian Martin
13        David Hassel
14     Clara Rodriquez
15    Jennifer Lorentz
16         Susan Clark
17     Margareth Jones
18        John Bertsch
19      Jake Timmerman
20       Joshua Connor
21        John Matsuda
22        Eddy Johnson
23    Rebecah Anderson
24        Linda Carter
25      Richard Swayze
26         Andrew King
Name: NAME, dtype: object

In [82]:
print("\ndf.loc[11:14] :\n", df.loc[11:14])

df.loc[11:14] :
                NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
11   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
12     Brian Martin      M   24      4       N         B   175.0    80.1
13     David Hassel      M   23      3       N        AB   182.1    85.7
14  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

In [84]:
print("\ndf.loc[11:14][NAME] :\n", df.loc[11:14]["NAME"])

df.loc[11:14][NAME] :
 11     Sarah O'Donnel
12       Brian Martin
13       David Hassel
14    Clara Rodriquez
Name: NAME, dtype: object

In [81]:
print("\ndf.iloc[11:14] :\n", df.iloc[11:14])

df.iloc[11:14] :
                 NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
21      John Matsuda      M   22      2       N        AB   180.0    75.8
22      Eddy Johnson      M   21      1       N         A   162.2    55.3
23  Rebecah Anderson      F   23      3       N         O   176.1    53.1

In [85]:
df.drop(columns=['NAME','GENDER'])                  # This is just a view.
#df.drop(columns=['NAME','GENDER'],inplace=True)    # => To remove permanently.

    AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
10   23      3       Y         O   165.3    68.2
11   22      2       N        AB   170.1    53.0
12   24      4       N         B   175.0    80.1
13   23      3       N        AB   182.1    85.7
14   20      1       Y         A   168.0    49.5
15   21      2       N         O   162.0    52.0
16   22      1       N         O   155.2    45.3
17   23      1       N         A   176.9    55.0
18   23      3       N         B   178.5    64.2
19   22      2       N         B   176.1    61.3
20   24      4       Y         O   167.1    62.0
21   22      2       N        AB   180.0    75.8
22   21      1       N         A   162.2    55.3
23   23      3       N         O   176.1    53.1
24   22      2       N         B   158.2    45.2
25   24      4       Y         B   168.6    70.2
26   21      1       N         A   169.2    62.2

In [87]:
df.loc[:, (header2!='NAME') & (header2!='GENDER')]

    AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
10   23      3       Y         O   165.3    68.2
11   22      2       N        AB   170.1    53.0
12   24      4       N         B   175.0    80.1
13   23      3       N        AB   182.1    85.7
14   20      1       Y         A   168.0    49.5
15   21      2       N         O   162.0    52.0
16   22      1       N         O   155.2    45.3
17   23      1       N         A   176.9    55.0
18   23      3       N         B   178.5    64.2
19   22      2       N         B   176.1    61.3
20   24      4       Y         O   167.1    62.0
21   22      2       N        AB   180.0    75.8
22   21      1       N         A   162.2    55.3
23   23      3       N         O   176.1    53.1
24   22      2       N         B   158.2    45.2
25   24      4       Y         B   168.6    70.2
26   21      1       N         A   169.2    62.2

Conditional slicing:

In [88]:
# Males only.
df[df.GENDER == 'M']

              NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
10   Jared Diamond      M   23      3       Y         O   165.3    68.2
12    Brian Martin      M   24      4       N         B   175.0    80.1
13    David Hassel      M   23      3       N        AB   182.1    85.7
18    John Bertsch      M   23      3       N         B   178.5    64.2
19  Jake Timmerman      M   22      2       N         B   176.1    61.3
20   Joshua Connor      M   24      4       Y         O   167.1    62.0
21    John Matsuda      M   22      2       N        AB   180.0    75.8
22    Eddy Johnson      M   21      1       N         A   162.2    55.3
25  Richard Swayze      M   24      4       Y         B   168.6    70.2
26     Andrew King      M   21      1       N         A   169.2    62.2

In [91]:
# Only non-males.
df[-(df.GENDER == 'M')]

                NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
11    Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
14   Clara Rodriquez      F   20      1       Y         A   168.0    49.5
15  Jennifer Lorentz      F   21      2       N         O   162.0    52.0
16       Susan Clark      F   22      1       N         O   155.2    45.3
17   Margareth Jones      F   23      1       N         A   176.9    55.0
23  Rebecah Anderson      F   23      3       N         O   176.1    53.1
24      Linda Carter      F   22      2       N         B   158.2    45.2

In [92]:
df[df.GENDER == 'F']

                NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
11    Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
14   Clara Rodriquez      F   20      1       Y         A   168.0    49.5
15  Jennifer Lorentz      F   21      2       N         O   162.0    52.0
16       Susan Clark      F   22      1       N         O   155.2    45.3
17   Margareth Jones      F   23      1       N         A   176.9    55.0
23  Rebecah Anderson      F   23      3       N         O   176.1    53.1
24      Linda Carter      F   22      2       N         B   158.2    45.2

In [93]:
df[df.HEIGHT > 170]

                NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
11    Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
12      Brian Martin      M   24      4       N         B   175.0    80.1
13      David Hassel      M   23      3       N        AB   182.1    85.7
17   Margareth Jones      F   23      1       N         A   176.9    55.0
18      John Bertsch      M   23      3       N         B   178.5    64.2
19    Jake Timmerman      M   22      2       N         B   176.1    61.3
21      John Matsuda      M   22      2       N        AB   180.0    75.8
23  Rebecah Anderson      F   23      3       N         O   176.1    53.1

In [94]:
df[ (df.WEIGHT > 70) & (df.WEIGHT < 80)]

              NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
21    John Matsuda      M   22      2       N        AB   180.0    75.8
25  Richard Swayze      M   24      4       Y         B   168.6    70.2

In [95]:
df[ (df.GENDER == 'M') & (df.HEIGHT > 175)]

              NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
13    David Hassel      M   23      3       N        AB   182.1    85.7
18    John Bertsch      M   23      3       N         B   178.5    64.2
19  Jake Timmerman      M   22      2       N         B   176.1    61.3
21    John Matsuda      M   22      2       N        AB   180.0    75.8

In [96]:
# Opposite criteria to the previous one.
df[ -((df.GENDER == 'M') & (df.HEIGHT > 175))]

                NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
10     Jared Diamond      M   23      3       Y         O   165.3    68.2
11    Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
12      Brian Martin      M   24      4       N         B   175.0    80.1
14   Clara Rodriquez      F   20      1       Y         A   168.0    49.5
15  Jennifer Lorentz      F   21      2       N         O   162.0    52.0
16       Susan Clark      F   22      1       N         O   155.2    45.3
17   Margareth Jones      F   23      1       N         A   176.9    55.0
20     Joshua Connor      M   24      4       Y         O   167.1    62.0
22      Eddy Johnson      M   21      1       N         A   162.2    55.3
23  Rebecah Anderson      F   23      3       N         O   176.1    53.1
24      Linda Carter      F   22      2       N         B   158.2    45.2
25    Richard Swayze      M   24      4       Y         B   168.6    70.2
26       Andrew King      M   21      1       N         A   169.2    62.2

#### 1.4. File reading and writing:

Read and write in the CSV format:

In [27]:
#Drop specified labels from rows or columns.

df2 = df.drop(columns=['GRADE','ABSENCE'])
df2.head(3)

             NAME GENDER  AGE BLOODTYPE  HEIGHT  WEIGHT
0   Jared Diamond      M   23         O   165.3    68.2
1  Sarah O'Donnel      F   22        AB   170.1    53.0
2    Brian Martin      M   24         B   175.0    80.1

In [28]:
#index : bool, default True,
#        Write row names (index).
df2.to_csv('data_mine.csv',index=False)

In [29]:
# encoding : str, optional
#            Encoding to use for UTF when reading/writing (ex. ‘utf-8’).
df3 = pd.read_csv('data_mine.csv',encoding='latin1',header='infer')

In [30]:
df3.head(3)

             NAME GENDER  AGE BLOODTYPE  HEIGHT  WEIGHT
0   Jared Diamond      M   23         O   165.3    68.2
1  Sarah O'Donnel      F   22        AB   170.1    53.0
2    Brian Martin      M   24         B   175.0    80.1

Read and write as a Excel document:

In [48]:
!wget --no-clobber https://github.com/stefannae/SIC-Artificial-Intelligence/blob/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.xlsx

File ‘data_studentlist.xlsx’ already there; not retrieving.

In [50]:
dfx = pd.read_excel('data_studentlist.xlsx')

ValueError: ignored

In [ ]:
dfx.head(5)

In [ ]:
dfx.to_excel('data_studentlist2.xlsx',sheet_name='NewSheet', index=False)