## Coding Exercise #0204

### 1. Pandas Series:

In [1]:
import pandas as pd
import numpy as np

#### 1.1. Creating Series objects:

In [4]:
my_index = ['a','b','c']
my_values = [222,333,444]
my_dict = {'a':222, 'b':333, 'c':444}
my_arr = np.array(my_values)
print("my_index = \n", my_index)
print("\nmy_values = \n", my_values)
print("\nmy_dict = \n", my_dict)
print("\nmy_arr = \n", my_arr)

my_index =
 ['a', 'b', 'c']

my_values =
 [222, 333, 444]

my_dict =
 {'a': 222, 'b': 333, 'c': 444}

my_arr =
 [222 333 444]

In [5]:
# Series with values.
pd.Series(my_values)      #It is a column with index

0    222
1    333
2    444
dtype: int64

In [9]:
# Series with values and index labels.
pd.Series(data=my_values, index=my_index)

a    222
b    333
c    444
dtype: int64

In [7]:
# Series from a NumPy array.
pd.Series(my_arr)

0    222
1    333
2    444
dtype: int64

In [8]:
# Series from a NumPy array with index labels.
pd.Series(my_arr, index=my_index)

a    222
b    333
c    444
dtype: int64

In [11]:
# Series from a dictionary.
pd.Series(my_dict)

a    222
b    333
c    444
dtype: int64

#### 1.2. Series attributes and indexing:

In [12]:
s = pd.Series(data=[111,222,333,444], index = ['a','b','c','d'], name='MySeries')
s

a    111
b    222
c    333
d    444
Name: MySeries, dtype: int64

Series attributes:

In [13]:
s.index                                   # Index labels.

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
s.name                                    # Name attribute.

'MySeries'

In [15]:
s.dtype                                   # Data type.

dtype('int64')

In [16]:
s.values                                  # The values as NumPy array.

array([111, 222, 333, 444])

Series indexing and slicing:

In [17]:
s[1]

222

In [18]:
s['a']

111

In [19]:
s[2:4]

c    333
d    444
Name: MySeries, dtype: int64

In [20]:
s[['a','d']]

a    111
d    444
Name: MySeries, dtype: int64

#### 1.3. Series operations:

In [21]:
s1 = pd.Series(data=[1,2,3,4], index = ['d','b','c','a'])
s2 = pd.Series(data=[1,2,3,4], index = ['a','b','d','e'])

Please notice that in the Series to Series operations, the elements are matched by the index labels. <br>
When there is no matching index label, we get **NaN**.

In [22]:
s1 + s2

a    5.0
b    4.0
c    NaN
d    4.0
e    NaN
dtype: float64

In [23]:
s1 - s2

a    3.0
b    0.0
c    NaN
d   -2.0
e    NaN
dtype: float64

In [24]:
s1 * s2

a    4.0
b    4.0
c    NaN
d    3.0
e    NaN
dtype: float64

In [25]:
s1/s2

a    4.000000
b    1.000000
c         NaN
d    0.333333
e         NaN
dtype: float64

In [26]:
2*s1

d    2
b    4
c    6
a    8
dtype: int64

#### 1.4. Series methods:

In [27]:
s1.sum()

10

In [28]:
s1.mean()

2.5

In [29]:
s1.median()

2.5

In [30]:
s1.max()

4

In [31]:
s1.std()

1.2909944487358056

In [32]:
s1.sort_values()

d    1
b    2
c    3
a    4
dtype: int64

In [33]:
s1.sort_index()

a    4
b    2
c    3
d    1
dtype: int64

apply() method:

In [34]:
ser_height = pd.Series([165.3, 170.1, 175.0, 182.1, 168.0, 162.0, 155.2, 176.9, 178.5, 176.1, 167.1, 180.0, 162.2, 176.1, 158.2, 168.6, 169.2],name='height')
ser_height

0     165.3
1     170.1
2     175.0
3     182.1
4     168.0
5     162.0
6     155.2
7     176.9
8     178.5
9     176.1
10    167.1
11    180.0
12    162.2
13    176.1
14    158.2
15    168.6
16    169.2
Name: height, dtype: float64

In [35]:
ser_height.apply(lambda x: x/100)

0     1.653
1     1.701
2     1.750
3     1.821
4     1.680
5     1.620
6     1.552
7     1.769
8     1.785
9     1.761
10    1.671
11    1.800
12    1.622
13    1.761
14    1.582
15    1.686
16    1.692
Name: height, dtype: float64