## Coding Exercise #0205

### 1. Pandas DataFrame basics:

In [4]:
import pandas as pd
import numpy as np
import os

#### 1.1. Creating a new DataFrame:

From a dictionary:

In [5]:
data = { 'NAME' : ['Jake', 'Jennifer', 'Paul', 'Andrew'], 'AGE': [24,21,25,19], 'GENDER':['M','F','M','M']}
df = pd.DataFrame(data)
df

       NAME  AGE GENDER
0      Jake   24      M
1  Jennifer   21      F
2      Paul   25      M
3    Andrew   19      M

From a NumPy array:

In [6]:
df = pd.DataFrame(np.random.rand(10,5), columns=['A','B','C','D','E'])
df.head(3)  #default value is 5

          A         B         C         D         E
0  0.207800  0.857336  0.248582  0.364689  0.347454
1  0.569463  0.598426  0.800258  0.345864  0.931878
2  0.289255  0.615333  0.250388  0.661663  0.405321

#### 1.2. Reading data into a DataFrame:

In [7]:
!wget --no-clobber https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.csv

--2022-02-13 01:14:46--  https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 674 [text/plain]
Saving to: ‘data_studentlist.csv’

data_studentlist.cs 100%[===================>]     674  --.-KB/s    in 0s

2022-02-13 01:14:46 (18.1 MB/s) - ‘data_studentlist.csv’ saved [674/674]

In [48]:
df = pd.read_csv('data_studentlist.csv', header='infer')
print(df)

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

In [24]:
df = pd.read_csv('data_studentlist.csv', header=0)  # header=0 denotes the first line of data rather than the first line of the file.
print(df)

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16       Andrew King      M   21      1       N         A   169.2    62.2

In [26]:
df = pd.read_csv('data_studentlist.csv', header=13)  #from index of 13 
print(df)

       Eddy Johnson  M  21  1  N  A  162.2  55.3
0  Rebecah Anderson  F  23  3  N  O  176.1  53.1
1      Linda Carter  F  22  2  N  B  158.2  45.2
2    Richard Swayze  M  24  4  Y  B  168.6  70.2
3       Andrew King  M  21  1  N  A  169.2  62.2

In [29]:
df = pd.read_csv('data_studentlist.csv', header=None)  #
print(df)

                   0       1    2      3        4          5       6       7
0               name  gender  age  grade  absence  bloodtype  height  weight
1      Jared Diamond       M   23      3        Y          O   165.3    68.2
2     Sarah O'Donnel       F   22      2        N         AB   170.1      53
3       Brian Martin       M   24      4        N          B     175    80.1
4       David Hassel       M   23      3        N         AB   182.1    85.7
5    Clara Rodriquez       F   20      1        Y          A     168    49.5
6   Jennifer Lorentz       F   21      2        N          O     162      52
7        Susan Clark       F   22      1        N          O   155.2    45.3
8    Margareth Jones       F   23      1        N          A   176.9      55
9       John Bertsch       M   23      3        N          B   178.5    64.2
10    Jake Timmerman       M   22      2        N          B   176.1    61.3
11     Joshua Connor       M   24      4        Y          O   167.1      62
12      John Matsuda       M   22      2        N         AB     180    75.8
13      Eddy Johnson       M   21      1        N          A   162.2    55.3
14  Rebecah Anderson       F   23      3        N          O   176.1    53.1
15      Linda Carter       F   22      2        N          B   158.2    45.2
16    Richard Swayze       M   24      4        Y          B   168.6    70.2
17       Andrew King       M   21      1        N          A   169.2    62.2

In [40]:
df = pd.read_csv('data_studentlist.csv', header=[0, 2, 4]) 
print(df)

                name gender age grade absence bloodtype height weight
      Sarah O'Donnel      F  22     2       N        AB  170.1     53
        David Hassel      M  23     3       N        AB  182.1   85.7
0    Clara Rodriquez      F  20     1       Y         A  168.0   49.5
1   Jennifer Lorentz      F  21     2       N         O  162.0   52.0
2        Susan Clark      F  22     1       N         O  155.2   45.3
3    Margareth Jones      F  23     1       N         A  176.9   55.0
4       John Bertsch      M  23     3       N         B  178.5   64.2
5     Jake Timmerman      M  22     2       N         B  176.1   61.3
6      Joshua Connor      M  24     4       Y         O  167.1   62.0
7       John Matsuda      M  22     2       N        AB  180.0   75.8
8       Eddy Johnson      M  21     1       N         A  162.2   55.3
9   Rebecah Anderson      F  23     3       N         O  176.1   53.1
10      Linda Carter      F  22     2       N         B  158.2   45.2
11    Richard Swayze      M  24     4       Y         B  168.6   70.2
12       Andrew King      M  21     1       N         A  169.2   62.2

Check for some of the DataFrame attributes:

In [41]:
df.shape

(13, 8)

In [42]:
df.size

104

In [43]:
df.ndim

2

In [49]:
df.columns

Index(['name', 'gender', 'age', 'grade', 'absence', 'bloodtype', 'height',
       'weight'],
      dtype='object')

In [50]:
df.index

RangeIndex(start=0, stop=17, step=1)

In [51]:
type(df)

pandas.core.frame.DataFrame

Summarize the DataFrame:

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       17 non-null     object
 1   gender     17 non-null     object
 2   age        17 non-null     int64
 3   grade      17 non-null     int64
 4   absence    17 non-null     object
 5   bloodtype  17 non-null     object
 6   height     17 non-null     float64
 7   weight     17 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.2+ KB

In [53]:
df.describe()

             age      grade      height     weight
count  17.000000  17.000000   17.000000  17.000000
mean   22.352941   2.294118  170.035294  61.064706
std     1.169464   1.104802    7.849756  11.851685
min    20.000000   1.000000  155.200000  45.200000
25%    22.000000   1.000000  165.300000  53.000000
50%    22.000000   2.000000  169.200000  61.300000
75%    23.000000   3.000000  176.100000  68.200000
max    24.000000   4.000000  182.100000  85.700000

Show the head and tail parts:

In [54]:
df.head(3)

             name gender  age  grade absence bloodtype  height  weight
0   Jared Diamond      M   23      3       Y         O   165.3    68.2
1  Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2    Brian Martin      M   24      4       N         B   175.0    80.1

In [55]:
df.tail(3)

              name gender  age  grade absence bloodtype  height  weight
14    Linda Carter      F   22      2       N         B   158.2    45.2
15  Richard Swayze      M   24      4       Y         B   168.6    70.2
16     Andrew King      M   21      1       N         A   169.2    62.2

Replacing the 'columns' (header):

In [56]:
header = df.columns
header

Index(['name', 'gender', 'age', 'grade', 'absence', 'bloodtype', 'height',
       'weight'],
      dtype='object')

In [57]:
df.columns = ['NAME', 'GENDER' , 'AGE', 'GRADE', 'ABSENCE', 'BLOODTYPE', 'HEIGHT', 'WEIGHT']
df.head(3)

             NAME GENDER  AGE  GRADE ABSENCE BLOODTYPE  HEIGHT  WEIGHT
0   Jared Diamond      M   23      3       Y         O   165.3    68.2
1  Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2    Brian Martin      M   24      4       N         B   175.0    80.1

#### 1.3. Indexing and slicing DataFrames:

In [58]:
# A column.
df.NAME

0        Jared Diamond
1       Sarah O'Donnel
2         Brian Martin
3         David Hassel
4      Clara Rodriquez
5     Jennifer Lorentz
6          Susan Clark
7      Margareth Jones
8         John Bertsch
9       Jake Timmerman
10       Joshua Connor
11        John Matsuda
12        Eddy Johnson
13    Rebecah Anderson
14        Linda Carter
15      Richard Swayze
16         Andrew King
Name: NAME, dtype: object

In [59]:
# This is in fact a Series:
type(df.NAME)

pandas.core.series.Series

In [60]:
# This is also a Series:
df['NAME']

0        Jared Diamond
1       Sarah O'Donnel
2         Brian Martin
3         David Hassel
4      Clara Rodriquez
5     Jennifer Lorentz
6          Susan Clark
7      Margareth Jones
8         John Bertsch
9       Jake Timmerman
10       Joshua Connor
11        John Matsuda
12        Eddy Johnson
13    Rebecah Anderson
14        Linda Carter
15      Richard Swayze
16         Andrew King
Name: NAME, dtype: object

In [61]:
# However, this is a DataFrame with one column, not a Series:
df[['NAME']]

                NAME
0      Jared Diamond
1     Sarah O'Donnel
2       Brian Martin
3       David Hassel
4    Clara Rodriquez
5   Jennifer Lorentz
6        Susan Clark
7    Margareth Jones
8       John Bertsch
9     Jake Timmerman
10     Joshua Connor
11      John Matsuda
12      Eddy Johnson
13  Rebecah Anderson
14      Linda Carter
15    Richard Swayze
16       Andrew King

In [62]:
# Another way of getting a columns as Series:
df.loc[:,'NAME']

0        Jared Diamond
1       Sarah O'Donnel
2         Brian Martin
3         David Hassel
4      Clara Rodriquez
5     Jennifer Lorentz
6          Susan Clark
7      Margareth Jones
8         John Bertsch
9       Jake Timmerman
10       Joshua Connor
11        John Matsuda
12        Eddy Johnson
13    Rebecah Anderson
14        Linda Carter
15      Richard Swayze
16         Andrew King
Name: NAME, dtype: object

In [63]:
df.loc[:,['NAME','GENDER']]

                NAME GENDER
0      Jared Diamond      M
1     Sarah O'Donnel      F
2       Brian Martin      M
3       David Hassel      M
4    Clara Rodriquez      F
5   Jennifer Lorentz      F
6        Susan Clark      F
7    Margareth Jones      F
8       John Bertsch      M
9     Jake Timmerman      M
10     Joshua Connor      M
11      John Matsuda      M
12      Eddy Johnson      M
13  Rebecah Anderson      F
14      Linda Carter      F
15    Richard Swayze      M
16       Andrew King      M

In [64]:
df.iloc[:,[0,1]]

                NAME GENDER
0      Jared Diamond      M
1     Sarah O'Donnel      F
2       Brian Martin      M
3       David Hassel      M
4    Clara Rodriquez      F
5   Jennifer Lorentz      F
6        Susan Clark      F
7    Margareth Jones      F
8       John Bertsch      M
9     Jake Timmerman      M
10     Joshua Connor      M
11      John Matsuda      M
12      Eddy Johnson      M
13  Rebecah Anderson      F
14      Linda Carter      F
15    Richard Swayze      M
16       Andrew King      M

In [66]:
df.loc[:,(header =='NAME') | (header == 'GENDER')]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [67]:
# This is a row.
df.loc[2]

NAME         Brian Martin
GENDER                  M
AGE                    24
GRADE                   4
ABSENCE                 N
BLOODTYPE               B
HEIGHT              175.0
WEIGHT               80.1
Name: 2, dtype: object

In [ ]:
df.loc[2:4]

In [ ]:
df.iloc[2:4]

In [ ]:
df.drop(columns=['NAME','GENDER'])                  # This is just a view.
#df.drop(columns=['NAME','GENDER'],inplace=True)    # => To remove permanently.

In [ ]:
df.loc[:, (header!='NAME') & (header!='GENDER')]

Conditional slicing:

In [ ]:
# Males only.
df[df.GENDER == 'M']

In [ ]:
# Only non-males.
df[-(df.GENDER == 'M')]

In [ ]:
df[df.GENDER == 'F']

In [ ]:
df[df.HEIGHT > 170]

In [ ]:
df[ (df.WEIGHT > 70) & (df.WEIGHT < 80)]

In [ ]:
df[ (df.GENDER == 'M') & (df.HEIGHT > 175)]

In [ ]:
# Opposite criteria to the previous one.
df[ -((df.GENDER == 'M') & (df.HEIGHT > 175))]

#### 1.4. File reading and writing:

Read and write in the CSV format:

In [ ]:
df2 = df.drop(columns=['GRADE','ABSENCE'])
df2.to_csv('data_mine.csv',index=False)

In [ ]:
df3 = pd.read_csv('data_mine.csv',encoding='latin1',header='infer')

In [ ]:
df3.head(3)

Read and write as a Excel document:

In [ ]:
!wget --no-clobber https://github.com/stefannae/SIC-Artificial-Intelligence/blob/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_03_Coding_Exercises/data_studentlist.xlsx

In [ ]:
dfx = pd.read_excel('data_studentlist.xlsx')

In [ ]:
dfx.head(5)

In [ ]:
dfx.to_excel('data_studentlist2.xlsx',sheet_name='NewSheet', index=False)